<section class="bg-secondary text-light footer">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex align-items-center">
                    <img src="/favicon.ico" alt="Logo de Gest Plus" height="72" />
                    <h2>Gest Plus</h2>
                </div>
                <p>
                    Application de gestion d'entreprise commerciale.
                    <br />
                    &copy; 2020 - 2024 Gest Plus.
                </p>
            </div>
            <div class="col-md-2">
                <ul class="group-list">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tarif">Tarif</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apropos">A propos de nous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contactez-nous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Fonctionalités</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tarif">Tarif</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apropos">A propos de nous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contactez-nous</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tarif">Tarif</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apropos">A propos de nous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contactez-nous</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tarif">Tarif</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apropos">A propos de nous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contactez-nous</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="bg-dark text-light py-2">
    <p class="text-center mb-0">
        <small>Développé par <a href="https://legrandsoft.com" target="new">Groupe legrandsoft</a>.</small>
    </p>
</div>