a {
    text-decoration: none !important;
    color: inherit !important;
}
  
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
li {
    margin: 0;
    padding: 0;
}

.footer a:hover {
    color: orange !important;
}
