<!--<div>-->
<!--  <form [formGroup]="search">-->
<!--    <label for="id">Search</label>-->
<!--    <input id="id" formControlName="name">-->
<!--  </form>-->
<!--</div>-->
<div>Devis</div>
<div class="table-responsive">
<!--  @GetMapping("/products")-->
<!--  public ResponseEntity<Page<Product>> getProducts(Pageable pageable) {-->
<!--  Page<Product> products = productService.getAllProducts(pageable);-->
<!--  return ResponseEntity.ok(products);-->
<!--  }-->
<!--  [value]="getProduct()"-->
<!--  <p-table [value]="products" [paginator]="true" [rows]="pageSize" [totalRecords]="totalItems"-->
<!--           (onPage)="onPageChange($event)">-->
  <p-table
    [value]="combinedData"
    [rows]="pageSize"
    [totalRecords]="totalElements"
    [first]="pageNumber*pageSize"
    paginator="true"
    dataKey="devisId"
    styleClass="p-datatable-sm p-datatable-striped"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" >
      <tr>
        <th><i class="pi pi-file"></i></th>
        <th pSortableColumn="client.nom" style="font-size: 12px">Client<p-sortIcon field="client.nom"></p-sortIcon></th>
        <th pSortableColumn="topSelling.uname" style="font-size: 12px">Produits<p-sortIcon field="products.uname"></p-sortIcon></th>
        <th pSortableColumn="nom" style="font-size: 12px">Qté</th>
        <th style="font-size: 12px">Total HT</th>
        <th style="font-size: 12px">Reduction</th>
        <th style="font-size: 12px">TVA</th>
        <th style="font-size: 12px">Total TVA</th>
        <th style="font-size: 12px">Total TTC</th>
        <th style="font-size: 12px">Date</th>
        <th style="font-size: 12px">Cassier</th>
        <th style="font-size: 12px">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-devis>

      <tr [pSelectableRow]="devis"
      >
        <td style="width: 5%">
          <div class="flex flex-row flex-wrap" >
<!--            <img [src]="devis.client.image" width="30" [alt]="devis.client.nom">-->
            <img [src]="devis.client.image" width="30">
          </div>
        </td>
        <!--                AFFICHER LE DEVIS-->
<!--        <td #client style="width: 15%" class="single-line-cell" (click)="setDevisFormValues($event, devis,client)" (click)="selectionClient(devis)" >-->
        <td #client style="width: 15%" class="single-line-cell" (click)="selectionClient(devis)" >
          {{ devis.client.nom }}</td>
<!--        <td style="width: 10%" class="single-line-cell" (click)="selectionProduct(devis)">{{ devis.products.productName }}</td>-->
        <td style="width: 10%" class="single-line-cell">
          <ng-container *ngIf="devis.products && devis.products.length > 0">
            <ng-container *ngFor="let product of devis.products">
              {{ product.productName }}
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!(devis.products && devis.products.length > 0)">
            Aucun produit
          </ng-container>
        </td>
<!--        <td style="width: 15%" class="single-line-cell"><input type="number" [(ngModel)]="devis.topSelling.qte" (ngModelChange)="onQuantityChange(product, $event)" min="1"/></td>-->
        <td style="width: 15%" class="single-line-cell">
          {{devis.products.qte}}
<!--          <input type="number" [(ngModel)]="devis.topSelling.qte" (ngModelChange)="onQuantityChange(devis, $event)" min="1"/>-->
        </td>
        <td style="width: 15%" class="single-line-cell">{{ devis.products.totalHt }}</td>
        <td style="width: 15%" class="single-line-cell">{{ devis.products.reduction }}</td>
        <td style="width: 15%" class="single-line-cell">{{ devis.tva }}</td>
        <td style="width: 15%" class="single-line-cell">{{ devis.totalTva }}</td>
        <td style="width: 15%" class="single-line-cell">{{ devis.totalTtc }}</td>
        <td style="width: 15%" class="single-line-cell"> Date</td>
        <td style="width: 15%" class="single-line-cell">{{ devis.cassier }}</td>
        <td style="width: 25%">
        </td>
        <td class="text-end">
          <button class="btn btn-sm btn-secondary me-1" >
            <i class="bi bi-pen"></i>
          </button>
          <button class="btn btn-sm btn-danger me-1">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
<!--    &lt;!&ndash; Pagination &ndash;&gt;-->
<!--    <ng-template pTemplate="footer" >-->
<!--      <div class="pagination-lg" >-->
<!--        <ul class="pagination">-->
<!--          <li class="page-item pointer" [class.disabled]="pageNumber === 0 || (pageNumber - 1) * pageSize >= totalElements">-->
<!--            <a (click)="goToNextOrPreviousPage('backward')" class="page-link" aria-label="Previous"-->
<!--               [attr.aria-disabled]="pageNumber === 0 ? 'true' : 'false'">-->
<!--              <span aria-hidden="true">&laquo; Previous</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          &lt;!&ndash; Boutons de numéros de pages &ndash;&gt;-->
<!--          <li *ngFor="let _ of getTotalPages(); let i = index;"-->
<!--              class="ui-paginator-page ui-paginator-element ui-state-default ui-corner-all"-->
<!--              [class.ui-state-active]="i === pageNumber">-->
<!--            <a (click)="getLoadDevis(i)" class="ui-paginator-link">-->
<!--              {{ i + 1 }}-->
<!--            </a>-->
<!--          </li>-->

<!--          <li class="page-item pointer" [class.disabled]="(pageNumber + 1) * pageSize >= totalElements">-->
<!--            <a (click)="goToNextOrPreviousPage('forward')" class="page-link" aria-label="Next">-->
<!--              <span aria-hidden="true">Next &raquo;</span>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->

<!--    </ng-template>-->


  </p-table>
</div>

