<form [formGroup]="formClient">
  <div class="modal-body">
    <div class="row mb-1">
      <div class="col-md-6">
        <label class="control-label">
          Nom Complet
          <span class="col-md-6"><input formControlName="nom" /></span>
        </label>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-md-12">
        <label class="control-label">
          Email
          <span class="col-md-12"><input formControlName="email" /></span>
        </label>
      </div>
      <div class="col-md-12">
        <label class="control-label">
          Téléphone
          <span class="col-md-12"><input formControlName="phone" /></span>
        </label>
      </div>
      <div class="col-md-12">
        <label class="control-label">
          Adresse
          <span class="col-md-12"><input formControlName="address" /></span>
        </label>
      </div>
      <div class="col-md-12">
        <label class="control-label">
          Ville
          <span class="col-md-12"><input formControlName="ville" /></span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <label class="control-label">
            Grade
            <span ><input formControlName="grade" /></span>
          </label>
        </div>
      </div>
    </div>
  </div>

</form>
<!-- Affichage des produits sélectionnés -->
<div *ngIf="selectedProducts.length > 0">
  <h6>Produits sélectionnés</h6>
  <p-table [value]="selectedProducts" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Nom du produit</th>
        <th>Catégories</th>
        <th>Quantité</th>
        <th>Prix Unitaire</th>
        <th>Total HT</th>
        <th>Actions</th>
      </tr>
    </ng-template>
<!--    <ng-template pTemplate="body" let-devis>-->
<!--      <tr>-->
<!--        <td style="width: 15%" class="single-line-cell">-->
<!--          <input type="number" [(ngModel)]="devis.topSelling.qte" (ngModelChange)="onQuantityChange(devis, $event)" min="1"/>-->
<!--        </td>-->
<!--        <td>{{ devis.topSelling.totalHT }}</td>-->
<!--        &lt;!&ndash; autres colonnes &ndash;&gt;-->
<!--      </tr>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="body"  *ngFor="let product of (proformasService.Products$ | async)">-->
    <ng-template pTemplate="body" let-devis >
      <tr>
        <td>{{ devis.productName }}</td>
        <td>{{ devis.categories }}</td>
        <td>{{devis.qte}}</td>
        <td>{{ devis.prixUnitaire | currency }}</td>
        <td>{{ devis.totalHT }}</td>
<!--        <td>-->
<!--          <button pButton type="button" icon="pi pi-times" (click)="removeProduct(product.productId)"></button>-->
<!--        </td>-->
      </tr>
    </ng-template>
  </p-table></div>
