.field {
  display: flex;
  float: right;
}

.justified{
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.m{
  margin-bottom: 3rem;
}
.fi{
  gap:2rem;
}


.p-card {
  max-width: 600px;
  margin: auto;
}
.p-border{
  border-raduis:0.25rem;
}
.error-container{
  color:red;

}
