.field {
  display: flex;
  float: right;
}
.alignerdeuxdiv{
  display: flex;
  //aligner horizontalement
  justify-content: center;
  gap: 5rem;
}
.bordureProduct{
  border: #2f3d4a;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Effet d'ombre */
}

.justified{
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.m{
  margin-bottom: 3rem;
}
.fi{
  gap:2rem;
}


.p-card {
  max-width: 600px;
  margin: auto;
}
.p-border{
  border-raduis:0.25rem;
}
.error-container{
  color:red;

}
