<main  class="card p-5">
  <div class="row mb-5">
    <div class="col-md-4">
      <h3>Liste des produits</h3>
    </div>
    <div class="col-md-8 float-end text-end justify-content-between">
      <a href="/produits?alert" class="btn btn-secondary me-1">Alert stock</a>
      <a href="/catalogue" class="btn btn-secondary me-1"><i class="bi bi-file-alt"></i> Catalogue</a>
      <a href="/produits-vers-excel" class="btn btn-secondary me-1"><i class="bi bi-file-excel"></i> Exporter</a>
      <a onclick="document.querySelector('#file').click()" class="btn btn-secondary me-1">
        <i class="bi bi-file-excel"></i>
        Importer d'un fichier Excel
<!--        <input type="file" id="file" class="input-file d-none" accept=".xlsx" (change)="getFile($event)" />-->
        <input type="file" id="file" class="input-file d-none" accept=".xlsx" />
      </a>
<!--      boite souvrer-->
<!--      <button class="btn btn-success" (click)="showModal(true)">Ajouter un produit</button>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h5>Filtrer par catégorie</h5>
      <div class="form-group mb-1 mb-md-0">
        <ng-select id="participation-specialite" class="" (change)="handleFiltreCategorie($event)">
<!--        <ng-select id="participation-specialite" class="" >-->
          <ng-option value="">Toutes les categories</ng-option>
<!--          <ng-option [value]="c.id" *ngFor="let c of categories">{{ c?.nom }}</ng-option>-->
        </ng-select>
      </div>
      <div>


      </div>
      <p-dialog [header]="'createFolderFormHeader'" [modal]="true" [(visible)]="devisDialog"
                [style]="{ width: '30rem' }">
        <span class="p-text-secondary block mb-5">Veuillez entrer les détails du produit.</span>

        <form  [formGroup]="productForm" (ngSubmit)="createProduct()">
          <div class="flex align-items-center mb-3">
            <label for="productName" class="font-semibold w-8rem">Nom du produit</label>
            <input pInputText id="productName" formControlName="productName" class="flex-auto" autocomplete="off"/>
          </div>

          <div class="flex align-items-center mb-3">
            <label for="image" class="font-semibold w-8rem">Image</label>
            <input pInputText id="image" formControlName="image" class="flex-auto" autocomplete="off"/>
          </div>

          <div class="flex align-items-center mb-3">
            <label for="libele" class="font-semibold w-8rem">Libele</label>
            <input pInputText id="libele" formControlName="libele" class="flex-auto" autocomplete="off"/>
          </div>

          <div class="flex align-items-center mb-3">
            <label for="description" class="font-semibold w-8rem">Description</label>
            <input pInputText id="description" formControlName="description" class="flex-auto" autocomplete="off"/>
          </div>

          <div class="flex align-items-center mb-3">
            <label for="categories" class="font-semibold w-8rem">Categories</label>
<!--            <select id="categories" formControlName="categories">-->
<!--              <option *ngFor="let category of categories" [value]="category.value">-->
<!--                {{ category.label }}-->
<!--              </option>-->
<!--            </select>-->

            <p-dropdown id="categories" formControlName="categories" [options]="categories"  ></p-dropdown>

          </div>

          <div class="flex align-items-center mb-3">
            <label for="prixunitaire" class="font-semibold w-8rem">Prix Unitaire</label>
            <input pInputText id="prixunitaire" formControlName="prixunitaire" class="flex-auto" autocomplete="off"/>
          </div>

          <div class="flex align-items-center mb-3">
            <label for="qteenstock" class="font-semibold w-8rem">Quantite en stock</label>
            <input id="qteenstock" formControlName="qteenstock" class="flex-auto" />
          </div>

          <div class="flex align-items-center mb-3">
            <label for="Unite" class="font-semibold w-8rem">Unite</label>
            <input pInputText id="Unite" formControlName="Unite" class="flex-auto" autocomplete="off"/>
          </div>



          <p-button [label]="'saveButton'" type="submit" [disabled]="!productForm.valid" (click)="createProduct()"/>
        </form>

        <div class="flex justify-content-end gap-2">
          <p-button [label]="'cancelButton'" severity="secondary" (click)="devisDialog = false"/>
        </div>
      </p-dialog>
    </div><span><p-button  class="field" (click)="openDialog()">Create</p-button></span>
  </div>

  <div class="flex">
    <div class="card">
        <p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 100px)' }">
          <p-table
            [value]="products"
            selectionMode="multiple"
            [(selection)]="userProductSelected"
            dataKey="productId"
            styleClass="p-datatable-sm p-datatable-striped"
            [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
              <tr>
                <th><i class="pi pi-file"></i></th>
                <th style="font-size: 12px">Nom</th>
                <th style="font-size: 12px">Libele</th>
                <th style="font-size: 12px">Unite</th>
                <th style="font-size: 12px">Description</th>
                <th style="font-size: 12px">Prix Unitaire</th>
                <th style="font-size: 12px">Quantite en stock</th>
                <th style="font-size: 12px">Categorie</th>
                <th style="font-size: 12px">Compte</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-products>
              <tr [pSelectableRow]="products">
                <td style="width: 5%">
                  <div class="flex flex-row flex-wrap">
                    <img [src]="products.image" width="30" >
                  </div>
                </td>
<!--                AFFICHER LA LISTS DES PRODUITS-->
                <td style="width: 15%" class="single-line-cell">{{ products.productName }}</td>
                <td style="width: 15%" class="single-line-cell">{{ products.libele }}</td>
                <td style="width: 15%" class="single-line-cell">{{ products.unite }}</td>
                <td style="width: 15%" class="single-line-cell">{{ products.description }}</td>
                <td style="width: 15%" class="single-line-cell">{{ products.prixUnitaire }}</td>
                <td style="width: 15%" class="single-line-cell">{{ products.qteenstock }}</td>
                <td style="width: 15%" class="single-line-cell">{{ products.categories }}</td>
                <td style="width: 15%" class="single-line-cell"> You</td>
                <td style="width: 25%">

                </td>
                <td style="width: 5%">
                  <p-button size="small" icon="pi pi-ellipsis-v" [rounded]="true"
                            [text]="true" [plain]="true"></p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-scrollPanel>
            </div>
<!--            <button class="btn btn-sm btn-secondary me-1" (click)="validationProduct(userProductSelected)">-->
<!--              <span>Save</span>-->
<!--            </button>-->
            </div>

      <ng-template #ngModal class="modal show" tabindex="-1" role="dialog" data-backdrop="static" *ngIf="true">
<!--          <form class="modal-content text-dark" [formGroup]="mpForm" (ngSubmit)="onFormSubmit()">-->
        <form class="modal-content text-dark" >

              <div class="modal-body">
                  <div class="row">
                      <div class="form-group col-4 mb-3 mx-auto text-center">

                      </div>

                      <div class="form-group col-12 mb-3">
                          <label for="produit-libelle">Libellé</label>
                          <input type="text" id="produit-libelle" class="form-control" formControlName="libelle"
                              placeholder="Libellé du produit" />
                      </div>
                      <div class="form-group col-12 mb-3">
                          <label for="produit-description">Description</label>
                          <textarea id="produit-description" class="form-control" formControlName="description" cols="20"
                              rows="5" placeholder="Description..."></textarea>
                      </div>
                      <div class="form-group col-12 mb-3">
                          <label for="produit-qte">Quantité </label>
                          <input type="number" id="produit-qte" class="form-control" formControlName="quantite"
                              placeholder="Quantité" />
                      </div>


                  </div>
              </div>

          </form>
      </ng-template>
</main>


<!--chargement de la page-->

<!--<app-spinner *ngIf="loading" [loading]="loading"></app-spinner>-->

