<main *ngIf="!loading" class="card p-5">
  <div class="row mb-3">
    <div class="col-7 col-md-8">
      <h1><i class="bi bi-book"></i> Categorie</h1>
    </div>
    <div class="col text-end">
      <button class="btn btn-success" (click)="showModal(true)">
        <i class="bi bi-save pe-2 me-2 border-end"></i>
        Ajouter
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table-pane table-responsive">
        <table datatable class="table table-striped table-hover">
          <thead class="bg-dark text-light">
            <tr>
              <th>#</th>
              <th>Titre</th>
              <th>Description</th>
              <th class="text-center">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of categories; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ f?.nom }}</td>
              <td>{{ f?.description }}</td>
              <td class="text-end">
                <button class="btn btn-sm btn-secondary me-1" (click)="showModal(true, f)">
                  <i class="bi bi-pen"></i>
                </button>
                <button class="btn btn-sm btn-danger me-1" (click)="handleSupprime(f)">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="!categories.length">
              <td></td>
              <td></td>
              <td>
                <i>Aucune categorie enregistrée</i>
              </td>
              <td></td>
            </tr>
          </tbody>
          <tfoot class="bg-dark text-light">
            <tr>
              <th>TOTAL</th>
              <th></th>
              <th>{{ categories.length }}</th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <ng-template #ngModal class="modal show" tabindex="-1" role="dialog" data-backdrop="static" *ngIf="true">
    <form class="modal-content text-dark" [formGroup]="mpForm" (ngSubmit)="onFormSubmit()">
      <div class="modal-header">
        <h5 *ngIf="!categorie.id" class="modal-title">Ajouter une categorie</h5>
        <h5 *ngIf="categorie.id" class="modal-title">Modifier la categorie ({{categorie?.nom}})</h5>
        <button type="button" class="close align-items-center text-white font-weight-bold bg-danger" aria-label="Close"
          (click)="closeModal()">
          <i class="bi bi-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-12 mb-3">
            <label for="categorie-nom">Titre</label>
            <input type="text" id="categorie-nom" class="form-control" formControlName="nom" placeholder="Titre" />
          </div>
          <div class="form-group col-12 mb-3">
            <label for="categorie-description">Description</label>
            <textarea id="categorie-description" class="form-control" formControlName="description" cols="30" rows="5"
              placeholder="Description..."></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-2" (click)="closeModal()">
          Fermer
        </button>
        <button *ngIf="saving" type="button" class="btn btn-success" disabled type="submit">
          <i class="bi bi-save"></i>
          Enregistrement
        </button>
        <button *ngIf="!saving" type="button" class="btn btn-success" type="submit">
          <i class="bi bi-save"></i>
          Enregistrer
        </button>
      </div>
    </form>
  </ng-template>
</main>


<app-spinner *ngIf="loading" [loading]="loading"></app-spinner>