<main *ngIf="!loading" class="card p-5">
  <div class="row mb-3">
    <div class="col-7 col-md-8">
      <h1><i class="bi bi-person-lock"></i> Utilisateurs</h1>
    </div>
    <div class="col text-end">
<!--      <button class="btn btn-success" (click)="showModal(true)">-->
<!--        <i class="bi bi-save pe-2 me-2 border-end"></i>-->
<!--        Ajouter-->
<!--      </button>-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table-pane table-responsive">
        <p-table
          [value]="allUsers"
          datakey="clientId" class="table table-striped table-hover">

          <ng-template pTemplate="header" class="bg-dark text-light">
            <tr>
              <th>#</th>
              <th>Nom</th>
              <th>Email</th>
              <th>Numero de telephone</th>
              <th>Adresse</th>
              <th>Fonction</th>
              <!-- <th>Password</th> -->
              <th class="text-center">Options</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body">
            <tr *ngFor="let u of users; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ u?.nom }}</td>
              <td>{{ u?.email }}</td>
              <td>{{ u?.address }}</td>
              <td>{{ u?.phone }}</td>
              <td>{{ u?.grade }}</td>
              <!-- <td>{{ u?.password }}</td> -->
<!--              <td class="text-end">-->
<!--                <button class="btn btn-sm btn-secondary me-1" (click)="showModal(true, u)">-->
<!--                  <i class="bi bi-pen"></i>-->
<!--                </button>-->
<!--                <button class="btn btn-sm btn-danger me-1" (click)="handleSupprime(u)">-->
<!--                  <i class="bi bi-trash"></i>-->
<!--                </button>-->
<!--              </td>-->
            </tr>
            <tr *ngIf="!users.length">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Aucun Utilisateur enregistré</td>
              <td></td>
              <td></td>
              <td></td>
              <!-- <td></td> -->
            </tr>
          </ng-template>
          <tfoot class="bg-dark text-light">
            <tr>
              <th>TOTAL</th>
              <th></th>
              <th></th>
              <th></th>
              <th>{{ users.length }}</th>
              <th></th>
              <th></th>
              <th></th>
              <!-- <th></th> -->
            </tr>
          </tfoot>
        </p-table>
      </div>
    </div>
  </div>

<!--  <ng-template #ngModal class="modal show" tabindex="-1" role="dialog" data-backdrop="static" *ngIf="true">-->
<!--    <app-add-user [isClient]="isClient" (continueAction)="reloadData()"></app-add-user>-->
<!--  </ng-template>-->
</main>

<!--<app-spinner *ngIf="loading" [loading]="loading"></app-spinner>-->
