<!--<main *ngIf="!loading" class="card p-5">-->
  <main class="card p-5">
  <div class="row mb-3">
    <div class="col-7 col-md-8">
      <h1><i class="bi bi-person-lock"></i> Utilisateurs</h1>
    </div>
    <div class="col text-end">
      <button class="btn btn-success"  (click)="openModal()">
        <i class="bi bi-save pe-2 me-2 border-end"></i>
        Ajouter
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table-pane table-responsive">
        <p-table
          [value]="users"
          selectionMode="single"
          datakey="clientId" class="table table-striped table-hover">

          <ng-template pTemplate="header" class="bg-dark text-light">
            <tr>
              <th>#</th>
              <th>Nom</th>
              <th>Email</th>
              <th>Numero de telephone</th>
              <th>Adresse</th>
              <th>Ville</th>
              <th>Fonction</th>
              <!-- <th>Password</th> -->
              <th class="text-center">Options</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-users let-i=rowIndex >
            <tr >
              <td>{{ i + 1 }}</td>
              <td>{{ users.nom }}</td>
              <td>{{ users.email }}</td>
              <td>{{ users.phone }}</td>
              <td>{{ users.address }}</td>
              <td>{{ users.ville }}</td>
              <td>{{ users.grade }}</td>
              <!-- <td>{{ u?.password }}</td> -->
              <td class="text-end">
                <button class="btn btn-sm btn-secondary me-1" (click)="openModal()">
                  <i class="bi bi-pen"></i>
                </button>
                <button class="btn btn-sm btn-danger me-1">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
<!--            <tr *ngIf="!users.length">-->
<!--              <td></td>-->
<!--              <td></td>-->
<!--              <td></td>-->
<!--              <td></td>-->
<!--              <td>Aucun Utilisateur enregistré</td>-->
<!--              <td></td>-->
<!--              <td></td>-->
<!--              <td></td>-->
<!--               <td></td> &ndash;&gt;-->
<!--            </tr>-->
          </ng-template>
<!--          <tfoot class="bg-dark text-light">-->
<!--            <tr>-->
<!--              <th>TOTAL</th>-->
<!--              <th></th>-->
<!--              <th></th>-->
<!--              <th></th>-->
<!--              <th>{{ users.length }}</th>-->
<!--              <th></th>-->
<!--              <th></th>-->
<!--              <th></th>-->
<!--              &lt;!&ndash; <th></th> &ndash;&gt;-->
<!--            </tr>-->
<!--          </tfoot>-->
        </p-table>
      </div>
    </div>
  </div>

  <ng-template #ngModal class="modal show" tabindex="-1" role="dialog" data-backdrop="static" *ngIf="true">
    <app-add-user [isClient]="isClient" (continueAction)="reloadData()"></app-add-user>
  </ng-template>

</main>
<!--<p-button class="border" [label]="'Add' " severity="secondary" (click)="openModal()"/>-->

<!--CREATE CLIENT-->
<p-dialog [header]="'createCustomer'" [modal]="true" [(visible)]="clientDialog"
          [style]="{ width: '30rem' }">
  <span class="p-text-secondary block mb-5">Veuillez entrer les informations pour la creation du client.</span>

  <form  [formGroup]="mpForm">
    <div class="flex align-items-center mb-3">
      <label for="Name" class="font-semibold w-8rem">Nom du Client</label>
      <input pInputText id="Name" formControlName="nom" class="flex-auto" autocomplete="off"/>
    </div>

    <div class="flex align-items-center mb-3">
      <label for="email" class="font-semibold w-8rem">Email</label>
      <input pInputText id="email" formControlName="email" class="flex-auto" autocomplete="off"/>
    </div>

    <div class="flex align-items-center mb-3">
      <label for="phone" class="font-semibold w-8rem">Numero de Telephone</label>
      <input pInputText id="phone" formControlName="phone" class="flex-auto" autocomplete="off"/>
    </div>

    <div class="flex align-items-center mb-3">
      <label for="adresse" class="font-semibold w-8rem">Adresse</label>
      <input pInputText id="adresse" formControlName="address" class="flex-auto" autocomplete="off"/>
    </div>

    <div class="flex align-items-center mb-3">
      <label for="ville" class="font-semibold w-8rem">Ville</label>
      <input pInputText id="ville" formControlName="ville" class="flex-auto" autocomplete="off"/>
    </div>

    <div class="flex align-items-center mb-3">
      <label for="grade" class="font-semibold w-8rem">Fonction</label>
      <p-dropdown id="grade" formControlName="grade" [options]="grades"></p-dropdown>
<!--      <input pInputText   class="flex-auto" autocomplete="off"/>-->
    </div>

    <p-button [label]="'saveButton'" type="submit" [disabled]="!mpForm.valid" (click)="addClient()"/>
  </form>

  <div class="flex justify-content-end gap-2">
    <p-button [label]="'cancelButton'" severity="secondary" (click)="clientDialog=false"/>
  </div>
</p-dialog>


<!--RENAME CLIENT-->
<p-dialog [header]="'RenameCustomer'" [modal]="true" [(visible)]="clientDialog"
          [style]="{ width: '30rem' }">
  <span class="p-text-secondary block mb-5">Veuillez entrer les informations pour renommer un client.</span>

  <form  [formGroup]="mpForm">
    <div class="flex align-items-center mb-3">
      <label for="nameRename" class="font-semibold w-8rem">Nom du Client</label>
      <input pInputText id="nameRename" formControlName="nom" class="flex-auto" autocomplete="off"/>
    </div>

    <div class="flex align-items-center mb-3">
      <label for="emailRename" class="font-semibold w-8rem">Email</label>
      <input pInputText id="emailRename" formControlName="email" class="flex-auto" autocomplete="off"/>
    </div>

    <div class="flex align-items-center mb-3">
      <label for="phoneRename" class="font-semibold w-8rem">Numero de Telephone</label>
      <input pInputText id="phoneRename" formControlName="phone" class="flex-auto" autocomplete="off"/>
    </div>

    <div class="flex align-items-center mb-3">
      <label for="adresseRename" class="font-semibold w-8rem">Adresse</label>
      <input pInputText id="adresseRename" formControlName="address" class="flex-auto" autocomplete="off"/>
    </div>

    <div class="flex align-items-center mb-3">
      <label for="villeRename" class="font-semibold w-8rem">Ville</label>
      <input pInputText id="villeRename" formControlName="ville" class="flex-auto" autocomplete="off"/>
    </div>

    <div class="flex align-items-center mb-3">
      <label for="gradeRename" class="font-semibold w-8rem">Fonction</label>
      <p-dropdown id="gradeRename" formControlName="grade" [options]="grades"></p-dropdown>
      <!--      <input pInputText   class="flex-auto" autocomplete="off"/>-->
    </div>

    <p-button [label]="'saveButton'" type="submit" [disabled]="!mpForm.valid" (click)="renameClient()"/>
  </form>

  <div class="flex justify-content-end gap-2">
    <p-button [label]="'cancelButton'" severity="secondary" (click)="clientDialog=false"/>
  </div>
</p-dialog>

<!--<app-spinner *ngIf="loading" [loading]="loading"></app-spinner>-->
